<form [formGroup]="form">
  <div class="Date"  formGroupName="campaignOne">
     <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Date</mat-label>
        <mat-date-range-input
          [rangePicker]="campaignOnePicker">
          <input matStartDate formControlName="fromdate" placeholder="Start date">
          <input matEndDate formControlName="todate" placeholder="End date">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
    </mat-form-field>
  </div>

  <div class="order">
    <mat-form-field appearance="fill">
      <mat-label>Choose an order</mat-label>
      <select matNativeControl formControlName="sortOrder">
        <option value="" selected></option>
        <option value="asc">asc</option>
        <option value="desc" >desc</option>
      </select>
    </mat-form-field>
  </div>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Tags</mat-label>
    <input matInput formControlName="tag" >
  </mat-form-field>
  <div class="sort">
    <mat-form-field class="example-form-field" appearance="fill">
          <mat-label> Date</mat-label>
        <mat-date-range-input
             formGroupName="sortDate"
             [rangePicker]="DatePicker">
              <input matStartDate
                     placeholder="Start date" formControlName="min">
              <input matEndDate
                     placeholder="End date" formControlName="max"  >
            </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="DatePicker"></mat-datepicker-toggle>
          <mat-date-range-picker #DatePicker></mat-date-range-picker>
    </mat-form-field>
  </div>

  <div class="sortList" >
    <mat-form-field appearance="fill">
      <mat-label>Choose a value</mat-label>
        <select matNativeControl formControlName="sortBy">
          <option value="" ></option>
          <option value="activity" >activity</option>
          <option value="votes">votes</option>
          <option value="creation">creation</option>
          <option value="hot" >hot</option>
          <option value="week">week</option>
          <option value="month" >month</option>
        </select>
    </mat-form-field>
  </div>

</form>

